.page #pub
{
    margin-top: -50px;
    border-radius: 10px 10px 0px 0px;
}

.page #version
{
    color: white; 
    background: rgb(255,100,0); 
	margin: 0;
	margin-top: -10px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    display: inline-block;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#licence,
#webtech
{
	margin: auto;
	display: block;
	margin-top: 30px;
}

#licence {max-height: 70px;}
#webtech {max-width: 400px;}

@media screen and (max-width: 1000px)
{
    .page #pub
    {
        margin-top: 0;
        border-radius: 5px;
    }

    .page #version
    {
        margin: 0;
    }
    
	#licence,
	#webtech
	{
		height: inherit;
		width: 100%;
	}
}