/* Actions */
.actions
{
    list-style: none;
    padding: 0px;
    font-size: 0;
    margin: 0 -15px;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.actions li
{
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    padding: 30px;
    cursor: pointer;
    background: rgb(50,50,50);
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    color: #fff;
    margin: 0 7px;
    overflow: hidden;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.actions li:hover
{
    background: rgb(255,150,0);
}

.actions li:active
{
    background: rgb(200,100,0);
    transform: scale(.9);
}

.actions li a
{
    display: block;
    text-decoration: none;
    color: #fff;
    width: 130px;
    height: 130px;
    padding: 30px;
    margin: -30px;
}

.actions li img
{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.actions li p
{
    margin: 10px 0;
    font-size: 16px;
    line-height: 2em;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

@media screen and (max-width:1000px)
{
    .actions
    {
        margin: 0 -10px;
        padding: 0;
        padding-bottom: 10px;
        margin-bottom: -30px;
    }
    
    .actions
    {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .actions li
    {
        border-radius: 5px;
        margin: 10px;
        overflow: visible;
        text-align: right;
        padding: 0;
        width: initial;
        height: initial;
    }
    
    .actions li a
    {
        padding: 10px;
        width: 100px;
        height: 100px;
        margin: 0
    }
    
    .actions li img 
    {
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 5px;
    }
    
    .actions li p 
    {
        font-size: 14px;
        line-height: 1.5em;
        white-space: initial;        
        margin: 0;
        margin-top: 20px;
        padding: 0;
        width: 80px;
        text-align: left;
    }
}