label
{
	min-width: 150px;
	margin-right: 15px;
	display: inline-block;
}

input[type=text],input[type=password],textarea
{
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.5);
	background: transparent;
	padding: 10px 0px;
	color: black;
	font-size: 14px;
	margin: 5px 0px;
	width: 300px;
	
	-webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus
{
	border-bottom: 1px solid rgb(255,100,0);
	color: rgb(255,100,0);
}

input[type=text],textarea
{
	min-width: 550px;
	max-width: 550px;
}

label[for=text],textarea
{
	display: inline-block;
	vertical-align: top;
}

label[for=text]
{
	padding: 10px 0px;
}

@media screen and (max-width: 1000px)
{
	body
	{
		padding-bottom: 0px;
	}
	
	label,
	input[type=text],
	textarea
	{
		display: block;
		min-width: 100%;
		max-width: 100%;
		width: 100%;
	}

	label
	{
		font-family: 'RobotoCondensed', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
		text-transform: uppercase;
		color: rgb(255,0,100);
	}

	label[for=text]
	{
		padding: 0px;
	}

	label[for=send]
	{
		display: none;
	}
}