.closeArea2
{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	
	background: rgba(0,0,0,.95);
	cursor: pointer;
}

.central2
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: none;
}

.central2 .aligner
{
	width: 0px;
	height: 100%;
}

.central2 .aligner,
.central2 .dialog
{
	display: inline-block;
	vertical-align: middle;
}

.central2 .dialog
{
	background: rgb(50,50,50);
	box-shadow: 0px 3px 10px rgba(0,0,0,.5);
	text-align: left;
	color: white;
	max-width: 1040px;
	margin: auto;
    border-radius: 10px;
    z-index: 10;
    position: relative;
}

.dialog .ttl
{
}

.dialog .ttl *
{
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

.dialog .ttl h1
{
	font-family: 'RobotoCondensed', arial, trebuchet ms, serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 20px 40px;
    padding-bottom: 0px;
}

.dialog .ttl button
{
	float: right;
	border: none;
	background: transparent;
	box-shadow: none;
	border-radius: 7px;
    margin: 5px;
}

.dialog .ttl button:hover
{
	background: rgba(0,0,0,.3);
}

.dialog .ttl button:active
{
	background: red;
}

.dialog .ttl button img
{
	width: 20px;
	height: 20px;
	padding: 10px;
}

.dialog .ctn
{
	max-height: 600px;
    overflow: auto;
    width: 100%;
}

/* Liste des moteurs */
.dialog .ctn .listMotors
{
	padding: 0px;
	margin: 0px;
	list-style: none;
	height: 100%;
	background: rgb(50,50,50);
}

.dialog .ctn .listMotors h4
{
	display: none;
}

.dialog .ctn .listMotors ul
{
	padding: 0px 20px;
}

.dialog .ctn .listMotors li
{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border-radius: 0px;
	cursor: pointer;
}

.dialog .ctn .listMotors li:hover
{
	background: rgb(255,100,0);
}

.dialog .ctn .listMotors li img
{
	height: 120px;
	width: 120px;
	padding: 0px;/*
	border-radius: 4px;
	box-shadow: 0px 3px 2px rgba(0,0,0,.3);*/
}

.dialog .ctn .listMotors li p
{
	margin: 0px;
	margin-top: 10px;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 120px;
	text-align: center;
	font-family: 'RobotoCondensed-Light', trebuchet ms, tahoma, verdana, arial, serif;
}