header
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	
	padding: 0px;
	background: rgb(255,100,0);
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

header .ctn
{
	margin: auto;
	padding: 0px;
	font-size: 0px;
}

/* Header Logo & Family button */

header .ctn *
{
	margin: 0px;
	font-size: 0px;
	display: inline-block;
	vertical-align: middle;
	border: none;
}

header .ctn img
{
	height: 18px;
	padding: 16px;
	cursor: pointer;
}

header .ctn .btnMenu,
header .ctn .right img
{
	padding: 21px;
	height: 16px;
	width: 16px;
}

header .ctn .btnMenu {display: none;}
#app header .ctn .btnMenu {display: inline-block;}

header .ctn .right
{
	float: right;
}

header .ctn img:hover
{
	background: rgba(255,255,255,.3);
}

/* Menu */
header ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}

header ul li
{
	margin: 0px 0px;
	cursor: pointer;
	display: inline-block;
    border-bottom: 3px solid transparent;
}

header ul li:hover
{
	border-bottom-color: #fff;
}

header ul li a
{
	display: block;
	padding: 11px 15px;
	text-decoration: none;
	color: white;
}

header ul li a span
{
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	text-transform: uppercase;
    font-family: 'MontserratRegular','RobotoRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
}

.family
{
	position: fixed;
	right: -100%;
	top: 0px;
	bottom: 0px;
	
	background: rgb(25,25,25);
    z-index: 100;
	
	transition-property: all;
	transition-duration: .5s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	
	-o-transition-property: all;
	-o-transition-duration: .5s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
}

.family ul
{
	list-style: none;
	padding: 42px 0px;
	margin: 0px;
	font-size: 0px;
}

.family ul h1
{
	margin: 0px 25px;
	padding: 12px 0px;
	color: white;
	font-size: 20px;
	font-weight: normal;
	text-transform: capitalize;
    font-family: 'MontserratRegular','RobotoRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
}

.family ul li
{
	padding: 0px;
	margin: 0px;
	min-width: 200px;
}

.family ul li a
{
	display: block;
	text-decoration: none;
	padding: 15px 25px;
}

.family ul li a:hover
{
	background: rgba(255,255,255,.1);
}

.family ul li a:active
{
	background: #000;
}

.family ul li a *
{
	display: inline-block;
	vertical-align: middle;
    font-family: 'MontserratRegular','RobotoRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
}

.family ul li a img
{
	height: 20px;
	width: 20px;
}

.family ul li a span
{
	font-size: 14px;
	margin-left: 10px;
	color: white;/*
	text-transform: uppercase;*/
}
/*
@media screen and (max-width: 1000px)
{
	header
	{
		text-align: left;
		
		position: absolute;
	}

	header h1,
	header ul
	{
		display: inline-block;
		vertical-align: middle;
	}

	header h1 img
	{
		margin-top: 0px;
		margin-left: 20px;
		height: 25px;
		position: relative;
		top: 5px;
	}
	
	header ul
	{
		float: right;
		padding: 5px 5px;
	}

	header ul div
	{
		background: rgb(25,25,25);
		z-index: 10;
		text-align: left;
		width: 200px;
		
		position: fixed;
		top: 0px;
		left: 0px;
		left: -205px;
		bottom: 0px;
	
		transition-property: all;
		transition-duration: .5s;
		
		-webkit-transition-property: all;
		-webkit-transition-duration: .5s;
		
		-moz-transition-property: all;
		-moz-transition-duration: .5s;
		
		-o-transition-property: all;
		-o-transition-duration: .5s;
		
		-ms-transition-property: all;
		-ms-transition-duration: .5s;
	}

	header ul div li
	{
		display: block;
		border-radius: 0px;
		margin: 0px;
		border-bottom: 1px solid rgba(255,255,255,.1);
	}

	header ul div li:hover
	{
		background: rgb(255,50,0);
		box-shadow: none;
	}

	header ul div li a
	{
		padding: 15px 20px;
	}
	
	header ul div li a span
	{
		font-size: 18px;
	}

	header ul div li a:hover
	{
		color: white;
	}

	header ul .showNavig
	{
		display: inline-block;
		padding: 4px 0px;
		
		position: absolute;
		top: 0px;
		right: 0px;
	}

	header ul .showNavig:hover
	{
		background: rgba(0,0,0,.3);
	}

	header ul .showNavig:active
	{
		background: rgba(0,0,0,.5);
	}
}*/
