header
{
    box-shadow: none;
	background: linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -webkit-linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -moz-linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -ms-linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -o-linear-gradient(top, rgba(0,0,0,.3), transparent);
   /* background: #fff;*/
    
    z-index: 10;
}

header, header .ctn {pointer-events: none;}
header .pages, header .ctn * {pointer-events: all;}

/* Main Bar */
header .ctn img,
header .ctn .btnMenu
{
	padding: 15px;
    display: inline-block;
}

header .ctn .btnMenu,
header .ctn .right img
{
	padding: 16px;
	height: 16px;
	width: 16px;
}

header .pages
{
	padding: 0px;
	background: rgb(25,25,25);
	z-index: -1;
	overflow: auto;
    padding-top: 70px;
	
	transition-property: all;
	transition-duration: .5s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	
	-o-transition-property: all;
	-o-transition-duration: .5s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
	
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: -100%;
}

header .pages li
{
	display: block;
    border: none;
}

header .pages li:hover
{
	background: rgba(255,255,255,.2);
}

header .pages li a
{
	padding: 13px 15px;
	min-width: 200px;
}

header .pages li a span
{
	font-size: 14px;
}

/* Boutons du hub (dans le header) */
#hubPages
{
    display: inline-block;
    text-align: center;
    padding: 28px;
    pointer-events: none;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#hubPages * {pointer-events: all;}

#hubPages a
{
    border: 1px solid #fff;
    border-radius: 100px;
    overflow: hidden;
    margin: 5px 10px;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#hubPages a img
{
    padding: 12px;
}

#hubPages a img:hover
{
    background: rgba(0,0,0,.3);
}

#hubPages a.selected
{
    background: #fff;
}

#hubPages a.selected img
{	
	-webkit-filter: invert(100%);
	   -moz-filter: invert(100%);
		-ms-filter: invert(100%);
		 -o-filter: invert(100%);
		    filter: invert(100%);
}

@media screen and (max-width: 1000px)
{
    
	#hubPages
    {
        position: inherit;
        padding: inherit;
    }
    
	#hubPages a
    {
        display: inline-block;
        margin: 0;
        border-radius: 0;
        border: none;
    }
    
	#hubPages a:hover
    {
        background: rgba(255,255,255,.3);
    }
    
	#hubPages a img
    {
        padding: 16px;
    }

    #hubPages a img:hover
    {
        background: transparent;
    }

    #hubPages a.selected
    {
        background: transparent;
        box-shadow: 0 3px 0 #fff inset;
    }

    #hubPages a.selected img
    {	
        -webkit-filter: invert(0%);
           -moz-filter: invert(0%);
            -ms-filter: invert(0%);
             -o-filter: invert(0%);
                filter: invert(0%);
    }
}

@media screen and (max-width: 500px)
{
    header .ctn .logo {display: none;}
    header .ctn .right {width: calc(100% - 48px);}
    header .ctn .right #hubPages 
    {
        display: inline-block;
        width: calc(100% - (3 * 48px));
        text-align: left;
    }
    header .dropdown .menu {top: 48px;}
}
