/* Actions */
.actions #btnSearch,
.actions #btnQuickAccess,
.actions #btnConfig
{
    display: none;
}

/* SearchEngine */
#searchEngines
{
    list-style: none;
    font-size: 0;
    margin: 0 -50px;
    padding: 10px 38px;
    padding-bottom: 20px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
    border-bottom: 1px solid silver;
	background: linear-gradient(top, transparent, rgba(0,0,0,.2));
	background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,.2));
	background: -moz-linear-gradient(top, transparent, rgba(0,0,0,.2));
	background: -ms-linear-gradient(top, transparent, rgba(0,0,0,.2));
	background: -o-linear-gradient(top, transparent, rgba(0,0,0,.2));
}

body.dark #searchEngines
{
    border-color: #444;
	background: linear-gradient(top, transparent, rgba(0,0,0,.4));
	background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,.4));
	background: -moz-linear-gradient(top, transparent, rgba(0,0,0,.4));
	background: -ms-linear-gradient(top, transparent, rgba(0,0,0,.4));
	background: -o-linear-gradient(top, transparent, rgba(0,0,0,.4));
}

#searchEngines li
{
    display: inline-block;
    vertical-align: top;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    margin: 0 12px;
    overflow: hidden;
}

#searchEngines li,
#searchEngines li img
{
    width: 70px;
    height: 70px;
}

/* Sections de la page */
#whatIsThis
{
    margin-right: -50px;
}

#whatIsThis div
{
    vertical-align: bottom; 
    width: 470px; 
    display: inline-block;
}

#whatIsThis img
{
    float: right;  
    width: 380px;
}

#customize img
{
    float: left;  
    height: 110px; 
    margin-right: 50px;
    border-radius: 5px;
}

#responsive img
{
    float: right;  
    height: 210px; 
    margin-left: 50px;
}

@media screen and (max-width:1000px)
{
    .page
    {
        width: calc(100% - 20px);
        padding: 10px;
        overflow: hidden;
    }
    
    /* Sections */
    #searchEngines
    {
        margin: 0 -10px;
        padding: 0;
        padding-bottom: 10px;
        margin-bottom: -30px;
    }
    
    #whatIsThis
    {
        margin: 0;
    }

    #whatIsThis div
    {
        width: inherit; 
        display: block;
    }

    #whatIsThis img
    {
        display: none;
    }

    #customize img,
    #responsive img
    {
        float: inherit;
        height: inherit;
        width: 100%;
        margin: 40px 0;
        margin-bottom: -40px;
    }
}