.central
{
	bottom: 0px;
	padding-top: 70px;
	padding-bottom: 90px;
}

.central .redirect,
.central .chooseMotors,
.central .screenView
{
	display: inline-block;
	vertical-align: middle;
}

.central .screenView
{
	display: none;
	height: 90%;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	border: 5px solid white;
	cursor: pointer;
}

.chooseMotors
{
	max-width: 900px;
	color: white;
}

.redirect h1,
.chooseMotors h1
{
	font-weight: normal;
	font-size: 28px;
	color: white;
}

.chooseMotors p
{
	font-size: 16px;
	max-width: 700px;
	line-height: 25px;
}

#screen2,
#screen3,
#screen4,
#screen5,
#screen6
{
	display: none;
}

.screen input[type=submit],
.screen input[type=reset],
.screen input[type=image],
.screen input[type=button],
.screen button
{
	border: 3px solid white;
	background: white;
	border-radius: 4px;
	padding: 10px 15px;
	min-width: 150px;
	color: rgb(255,100,0);
	font-size: 16px;
	margin: 5px;
	cursor: pointer;
	
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.screen input.ignore
{
	background: transparent;
	color: white;
}

.screen input[type=submit]:hover,
.screen input[type=reset]:hover,
.screen input[type=image]:hover,
.screen input[type=button]:hover,
.screen button:hover
{
	background: transparent;
	color: white;
	border: 3px solid white;
}

/* Barre de navigation */
.toolBar {text-align: center;}
.toolBar li {margin: 0 5px;}

/* Rectangles personnalisation */
.rects
{
	list-style: none;
	padding: 0px;
	font-size: 0px;
}

.rects li
{
	display: inline-block;
    vertical-align: top;
	text-align: left;
	margin: 10px;
}

.rects li *
{
	margin: 5px;
	display: block;
}

.rects li p
{
	font-size: 14px;
	line-height: inherit;
	width: 150px;
    text-align: center;
    text-transform: uppercase;
}

.rects li div
{
	font-size: 14px;
	width: 148px;
	height: 148px;
	background: rgb(200,200,200);
	color: white;
	box-shadow: 0 3px 10px rgba(0,0,0,.3), 0px 0px 0px #fff;
    border: 1px solid #fff;
	border-radius: 7px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-position: center center;
	
	transition-property: box-shadow;
	transition-duration: .3s;
	
	-webkit-transition-property: box-shadow;
	-webkit-transition-duration: .3s;
	
	-moz-transition-property: box-shadow;
	-moz-transition-duration: .3s;
	
	-o-transition-property: box-shadow;
	-o-transition-duration: .3s;
	
	-ms-transition-property: box-shadow;
	-ms-transition-duration: .3s;
}
	
.rects li div:hover
{
	box-shadow: 0px 4px 4px rgba(0,0,0,.5), 0px 0px 30px #fff;
}
	
.rects li div span
{
	position: relative;
    top: 160px;
    text-align: center;
}

/* Visionneuse d'image */
.screenImg
{
	height: 300px;
	margin: auto;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	border: 2px solid rgb(255,100,0);
	cursor: pointer;
	display: block;
	
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.screenImg:hover
{
	border-color: white;
}

.screenImg:active
{
	height: 250px;
	padding: 25px;
}
	
.screenImgMobile
{
	margin: auto;
	margin-bottom: 15px;
	border-radius: 7px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	border: 3px solid white;
	max-width: 80%;
	max-width: 100%;
	height: inherit;
	max-height: 500px;
	display: none;
}

.panel {display: none;}

@media screen and (max-width: 1000px)
{
    body
    {
        padding-top: 80px;
    }
    
	.central
	{
		margin: auto;
        
        position: initial;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;
        
        padding: 0px;
        width: initial;
	}

	.chooseMotors
	{
		width: 95%;
		color: white;
	}
	
	.screen 
	{
		padding: 15px;
		padding-top: 0px;
	}
	
	.screen h1
	{
		font-size: 28px;
	}
	
	.screen p
	{
		font-size: 14px;
		line-height: 20px;
	}
	
	.screen .screenImg {display: none;}
	.screen .screenImgMobile {display: block;}
	.link {display: none;}

	.motorSelection
	{
		padding: 15px 15px;
		text-align: center;
		border-radius: 7px;
	}

	.motorSelection img
	{
		width: 100px;
		height: 100px;
		margin: auto;
		margin-bottom: 10px;
	}

	.motorSelection img,
	.motorSelection div
	{
		display: block;
	}

	.motorSelection div h3
	{
		font-size: 16px;
		font-weight: normal;
	}

	/*.listMotors
	{
		padding: 0px;
	}

	.listMotors ul
	{
		margin: 0px;
		padding: 10px;
	}

	.listMotors ul li img
	{
		height: 80px;
	}

	.listMotors ul li img,
	.listMotors ul li p
	{
		width: 80px;
		font-size: 12px;
	}*/
    
    .toolBar
    {
        position: fixed;
        right: 0px;
        left: inherit;
    }
}