.quitListMotors
{
	background: rgba(0,0,0,.3);
	cursor: pointer;
	
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	transition-property: all;
	transition-duration: 1s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	
	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	
	-o-transition-property: all;
	-o-transition-duration: 1s;
	
	-ms-transition-property: all;
	-ms-transition-duration: 1s;
}

.listMotors
{
	position: absolute;
    top: 5px;
	left: 5px;
	bottom: 5px;
	
	background: rgb(50,50,50);
    border: 1px solid #000000aa;
	text-align: left;
	padding: 50px;
	padding-top: 70px;
    font-size: 0;
	overflow: auto;
	z-index: 10;
	border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
	
	transition-property: all;
	transition-duration: .3s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .3s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .3s;
	
	-o-transition-property: all;
	-o-transition-duration: .3s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .3s;
}

/* Title bar */
.listMotors .titleBar
{
	background: linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -webkit-linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -moz-linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -ms-linear-gradient(top, rgba(0,0,0,.3), transparent);
	background: -o-linear-gradient(top, rgba(0,0,0,.3), transparent);
    font-size: 0;
    text-align: left;
    
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.listMotors .titleBar .left,
.listMotors .titleBar .right,
.listMotors .titleBar h4,
.listMotors .titleBar img
{
	display: inline-block;
    vertical-align: middle;
}

.listMotors .titleBar .right
{
	float: right;
}

.listMotors .titleBar h4
{
	font-size: 14px;
    margin: 15px 10px;
    font-weight: normal;
    color: #fff;
}

.listMotors .titleBar img
{
	padding: 16px;
	height: 16px;
	width: 16px;
    cursor: pointer;
}

.listMotors .titleBar img:hover
{
	background: rgba(255,255,255,.3);
}

/* Search engines items */
.listMotors ul
{
	padding: 20px;
	margin: -30px;
	padding-top: 0px;
	margin-top: 0px;
	list-style: none;
	overflow-y: auto;
	
	transition-property: all;
	transition-duration: .30s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .30s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .30s;
	
	-o-transition-property: all;
	-o-transition-duration: .30s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .30s;
}

.listMotors ul span
{
	/*background: rgba(0,0,0,.3);
	display: inline-block;*/
}

.listMotors ul li
{
	display: inline-block;
	margin: 3px;
	padding: 10px;
	padding-bottom: 5px;
	text-align: left;
	cursor: pointer;
	vertical-align: top;
	color: white;
	border-radius: 4px;
	
	transition-property: all;
	transition-duration: .2s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .2s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .2s;
	
	-o-transition-property: all;
	-o-transition-duration: .2s;
}

.listMotors ul li:hover
{
	background: white;
	color: rgb(50,50,50);
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
}

.listMotors ul li img
{
	height: 100px;
	width: 100px;
	border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
	
	transition-property: all;
	transition-duration: .5s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	
	-o-transition-property: all;
	-o-transition-duration: .5s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
}

.listMotors ul li:hover img
{
	border-radius: 0px;
	box-shadow: none;
}

.listMotors ul li p
{
	width: 100px;
	font-size: 14px;
	margin: 5px 0px;
	line-height: inherit;
    text-align: center;
    font-family: 'MontserratRegular','RobotoRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
}

.listMotors ul .disable
{
	opacity: .5;
}

.listMotors ul .new
{
	background: rgba(255,255,255,.1);
}

.listMotors ul .new p::before
{
	content: "Nouveau";
	min-width: 10px;
	font-size: 10px;
	margin: auto;
    padding-top: 5px;
	display: block;
}

.listMotors ul .disable p::before
{
	content: "Désactivé";
	min-width: 10px;
	font-size: 10px;
	margin: auto;
	display: block;
}

/* Moteurs sous forme de liste */

.list ul
{
	padding: 30px;
	padding-top: 0px;
	text-align: left;
}

.list ul li
{
	padding: 5px;
	width: 350px;
}

.list ul li *
{
	display: inline-block;
	vertical-align: middle;
}

.list ul li img
{
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.list ul li p
{
	width: 280px;
	margin: 0px;
    font-size: 16px;
    font-family: 'MontserratRegular','RobotoRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    text-align: left;
}

.list ul .new p::before {padding: 0;}

@media screen and (max-width: 1000px)
{
	.listMotors
	{
		padding: 0px;
        padding-top: 50px;
		text-align: center;
        border-radius: 0;
        border: none;
        
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
	}

	.listMotors ul
	{
		margin: 0px;
		padding: 10px;
	}

	.listMotors ul li img
	{
		height: 80px;
	}

	.listMotors ul li img,
	.listMotors ul li p
	{
		width: 80px;
		font-size: 12px;
	}

	/* List view */
	
	.list ul
	{
		padding: 5px 0px;
		margin: 0px;
	}
	
	.list ul li
	{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	
	.list ul li img
	{
		height: 40px;
		width: 40px;
		margin: 5px 10px;
		border-radius: 50px;
		border: 2px solid white;
		background: white;
	}

	.list ul li p
	{
		width: 60%;
		text-align: left;
		margin: 0px;
		font-size: 16px;
	}

	.list ul .new p::before
	{
		display: none;
	}

	.list ul .new p::after
	{
		content: "Nouveau";
		font-weight: bold;
		min-width: 10px;
		font-size: 16px;
		margin: auto;
		display: inline-block;
		margin-left: 15px;
	}
    
}