th,td
{
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

th
{
    min-width: 250px;
    padding-right: 10px;
}

tr td:last-child
{
    color: #666;
}

input[type=text],
input[type=mail],
input[type=password],
input[type=submit]
{
    margin: 0;
    margin-right: 10px;
}

.info
{
    display: inline-block;
    margin-top: -10px;
}