@font-face
{
    font-family: 'RobotoRegular';
	src: url('../font/Roboto/Roboto-Regular.ttf');
}
@font-face
{
    font-family: 'RobotoLight';
	src: url('../font/Roboto/Roboto-Light.ttf');
}
@font-face
{
    font-family: 'RobotoBold';
	src: url('../font/Roboto/Roboto-Black.ttf');
}
@font-face
{
    font-family: 'RobotoThin';
	src: url('../font/Roboto/Roboto-Thin.ttf');
}
@font-face
{
    font-family: 'RobotoCondensed-Light';
	src: url('../font/Roboto_Condensed/RobotoCondensed-Light.ttf');
}
@font-face
{
    font-family: 'RobotoCondensed';
	src: url('../font/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}
@font-face
{
    font-family: 'MontserratRegular';
	src: url('../font/Montserrat/Montserrat-Regular.ttf');
}

*
{
    font-family: 'MontserratRegular','RobotoRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
}

body
{
	background: rgb(215,215,215);
	padding-top: 100px;
	
	transition-property: all;
	transition-duration: 1s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	
	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	
	-o-transition-property: all;
	-o-transition-duration: 1s;
	
	-ms-transition-property: all;
	-ms-transition-duration: 1s;
}

input[type=submit],input[type=reset],input[type=image],input[type=button],button
{
	border: 3px solid rgb(255,100,0);
	background: rgb(255,100,0);
	border-radius: 3px;
	padding: 8px 20px;
	color: white;
	font-size: 12px;
	cursor: pointer;
	white-space: normal;
    
    
	margin: 5px 0px;
	margin-right: 10px;
	
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

input[type=submit]:hover,input[type=reset]:hover,input[type=image]:hover,input[type=button]:hover,button:hover
{
	background: rgb(50,50,50);
	border: 3px solid rgb(50,50,50);
}

*:focus, *:active
{
	outline: 0;
}

.disable { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}