@font-face
{
    font-family: 'MontserratRegular';
	src: url('../font/Montserrat/Montserrat-Regular.ttf');
}

*
{
    font-family: 'MontserratRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
}

body
{
	background: rgb(215,215,215);
	padding-top: 100px;
	
	transition-property: all;
	transition-duration: 1s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	
	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	
	-o-transition-property: all;
	-o-transition-duration: 1s;
	
	-ms-transition-property: all;
	-ms-transition-duration: 1s;
}

body.dark {background: rgb(25,25,25);}

select,
textarea,
input[type=text],
input[type=mail],
input[type=date],
input[type=number],
input[type=password]
{
	background: rgba(0,0,0,.2);
	border-radius: 4px;
	padding: 8px 15px;
	font-size: 14px;
	border: none;
	color: black;
	width: 250px;
    margin: 2px;
}

body.dark select,
body.dark textarea,
body.dark input[type=text],
body.dark input[type=mail],
body.dark input[type=date],
body.dark input[type=number],
body.dark input[type=password]
{
    color: #fff;
    background: rgba(0,0,0,.5);
}

input[type=submit],
input[type=reset],
input[type=image],
input[type=button],
button
{
	background: rgb(255,100,0);
	border-radius: 3px;
	padding: 11px 23px;
	color: white;
	font-size: 12px;
	cursor: pointer;
	white-space: normal;
    border: 1px solid rgb(255,100,0);
    
    
	margin: 5px 0px;
	margin-right: 10px;
	
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=image]:hover,
input[type=button]:hover,
button:hover
{
	background: rgb(50,50,50);
    border-color: transparent;
}

input[type=submit]:active,
input[type=reset]:active,
input[type=image]:active,
input[type=button]:active,
button:active
{
    transform: scale(.9);
    border-color: transparent;
}

input[type=submit].flat,
input[type=reset].flat,
input[type=image].flat,
input[type=button].flat,
button.flat
{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

input[type=submit].flat:hover,
input[type=reset].flat:hover,
input[type=image].flat:hover,
input[type=button].flat:hover,
button.flat:hover
{
    background: silver;
}

input[type=submit].flat:active,
input[type=reset].flat:active,
input[type=image].flat:active,
input[type=button].flat:active,
button.flat:active
{
    background: #000;
    color: #fff;
    border-color: transparent;
}

*:focus, *:active
{
	outline: 0;
}

a {color: rgb(255,100,0);}
        
.info
{
    background: grey; 
    padding: 8px 12px; 
    border-radius: 3px;
    color: #fff;
}

.info.orange {background: orange;}
.info.green {background: #05c900;}
.info.red {background: red;}
.info.inline {display: inline-block;}

.disabled
{
    pointer-events: none;
    filter: grayscale(1);
    opacity: .5;
}