/* Contenu de la page */
.content
{
    padding: 75px 10px;
    padding-top: 110px;
}

/* Barre de recherche */
#searchBar
{
    display: none;
}

#searchBar input
{
    border: none;
    background: #fff;
    color: #000;
    padding: 14px 25px;
    border-radius: 5px;
    width: 450px;
    margin: 20px auto;
    margin-top: 0px;
    display: block;
    font-size: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
}

/* Tiles */
.tiles
{
    list-style: none;
    padding: 0;
	color: white;
    font-size: 0;
    background: transparent;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.tiles .info
{
    background: #fff;
    color: #000;
    padding: 20px 30px;
    margin: 0;
    box-shadow: 0 0 30px #fff;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}

.tiles li
{
    background: #fff;
    color: #000;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    
    position: relative;
    top: 0px;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.tiles li:hover
{
    top: -5px;
    background: rgb(50,50,50);
}

.tiles li a
{
    display: block;
    text-decoration: none;
    color: #000;
    margin: -15px;
    padding: 15px;
}

.tiles li:hover,
.tiles li:hover a
{
    color: #fff;
}

.tiles li img
{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.tiles li p
{
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

/* Popup */
.window .form
{
	margin: -30px;
	padding: 20px 30px;
	padding-bottom: 30px;
	margin-top: 15px;
	background: rgb(50,50,50);
	border-radius: 0px 0px 10px 10px;
	text-align: left;
}

.window .form .icon,
.window .form .txt
{
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.window .form .icon
{
	font-size: 0px;
	border-radius: 100px;
	margin: 0px;
	cursor: pointer;
	
	top: 3px;
}

.window .form .icon img
{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	border: 3px solid white;
}

.window .form .txt
{
	left: 20px;
	text-align: right;
}

.window .form .txt p
{
	left: 60px;
	margin: 0px;
}

.window .form .txt span
{
	width: 100px;
	display: inline-block;
	margin-right: 5px;
}

.window .form .txt input[type=text]
{
	width: 300px;
	padding: 8px 10px;
	border: 1px solid transparent;
	background: rgb(40,40,40);
	color: white;
	border-radius: 4px;
	font-size: 14px;
    margin: 5px 0;
}

.window .form .txt input[type=text]:focus
{
	border-color: white;
}

.window .form .txt p:first-child input[type=text]
{
	font-size: 18px;
}

.window .form input[type=button]
{
	padding: 5px 10px;
	margin: 0px;
	background: rgb(80,80,80);
	box-shadow: 0px 4px 4px rgba(0,0,0,.5);
	border: 2px solid rgb(80,80,80);
	margin-top: 10px;
}

.window .form input[type=button]:hover
{
	box-shadow: none;
	border-color: white;
	background: transparent;
}

@media screen and (max-width: 1000px)
{
    /* Barre de recherche */
    #searchBar input
    {
        width: calc(100% - 50px);
        margin: 0;
        margin-bottom: 10px;
    }
    
    /* Liste */
    .tiles {padding: 0;}
    
    .tiles li
    {
        background: transparent;
        padding: 10px;
        margin: 0;
        text-align: left;
        box-shadow: none;
        text-shadow: 0 0 5px #000;
    }

    .tiles li:hover
    {
        top: 0;
        background: #fff;
        text-shadow: 0 0 0 rgba(0,0,0,.3);
    }
    
    .tiles li a
    {
        color: #fff;
        padding: 10px;
        margin: -10px;
    }
    
    .tiles li:hover a
    {
        color: #000;
    }
    
    .tiles li img,
    .tiles li p
    {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    
    .tiles li img
    {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    
    .tiles li p
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /* Popup */
    .window .form
    {
        min-width: inherit;
        min-height: inherit;
        border-radius: 0;
        padding: 10px;
        margin: -10px;
        margin-top: 0;
    }
    
    .window .form .icon,
    .window .form .txt
    {
        position: inherit;
        left: inherit;
    }
    
    .window .form .txt
    {
        margin-top: 10px;
    }
    
    .window .form .txt p
    {
        margin: 10px 0;
    }
    
    .window .form input[type=text]
    {
        width: calc(100% - 20px);
    }
}