/*

    Ce fichier contient le code concernant les moteurs séléctionnés,
    qui sont affichés dans une bulle entre le header et la barre de
    recherche (.selected-engines)
    
*/

.selected-engines
{
    max-width: 500px;
    padding: 0 10px;
	margin: 0 auto;
	margin-bottom: 30px;
    list-style: none;
    display: inline-block;
    font-size: 0px;
    white-space: nowrap;
    cursor: pointer;
}

.selected-engines li
{
    display: inline-block;
    vertical-align: middle;
    margin: 0 -10px;
    border-radius: 100px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    background: rgb(25,25,25);
    overflow: hidden;
}

.selected-engines:hover li
{
    margin: 0 10px;
    box-shadow: 0 0 30px #fff;
}

.selected-engines li,
.selected-engines li .icon
{
    height: 100px;
    width: 100px;
	
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.selected-engines li.big,
.selected-engines li.big .icon
{
    height: 125px;
    width: 125px;
}

.selected-engines li.overflow span
{
    font-size: 30px;
    padding: 30px 0;
    display: block;
}

.selected-engines li.overflow span:before
{
    content: '+';
}

/* Popup de gestion */

#manage-selected-engines .contener
{
	margin: -30px;
	padding: 30px;
	margin-top: 15px;
    background: rgb(50,50,50);
    border-radius: 0px 0px 10px 10px;
    text-align: left;
}

#manage-selected-engines #list
{
    list-style: none;
    padding: 0;
}

#manage-selected-engines #list li
{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 rgba(0,0,0,.3);
    background: transparent;
    color: #fff;
    cursor: pointer;
	
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
}

#manage-selected-engines #list li:hover
{
    background: #fff;
    color: #000;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
}

#manage-selected-engines #list li img
{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
	
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
}

#manage-selected-engines #list li:hover img
{
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0,0,0,.3);
}

#manage-selected-engines #list li p
{
    text-align: center;
    margin-bottom: 5px;
}