.toolBar
{
	list-style: none;
	padding: 35px;
	margin: 0px auto;
	margin-top: 70px;
	text-align: left;
	display: none;
	
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	transition-property: all;
	transition-duration: .5s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	
	-o-transition-property: all;
	-o-transition-duration: .5s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
}

.toolBar li
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding: 17px;
	border-radius: 100px;
	font-size: 0px;
	cursor: pointer;
	background: white;
	box-shadow: 0px 4px 4px rgba(0,0,0,.5);
	
	transition-property: all;
	transition-duration: .25s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .25s;
	
	-o-transition-property: all;
	-o-transition-duration: .25s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .25s;
}

.toolBar li:hover
{
	background: rgb(25,25,25);
}

.toolBar li:active
{
	background: #000;
	box-shadow: 0px 0px 15px #000;
}

.toolBar .pinned
{
	margin-left: 30px;
	display: inline-block;
	vertical-align: middle;
}

.toolBar .pinned li
{
	padding: 0px;
	background: transparent;
}

.toolBar .pinned li :hover
{
	box-shadow: 0px 0px 25px rgba(255,255,255,.9);
}

.toolBar li img
{
	width: 16px;
	height: 16px;
	margin: 0px;
	
	-webkit-filter: invert(85%);
	   -moz-filter: invert(85%);
		-ms-filter: invert(85%);
		 -o-filter: invert(85%);
		    filter: invert(85%);
	
	transition-property: all;
	transition-duration: .25s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .25s;
	
	-o-transition-property: all;
	-o-transition-duration: .25s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .25s;
}

.toolBar .pinned li img
{
	border-radius: 50px;
	width: 50px;
	height: 50px;
}

.toolBar li:hover img,
.toolBar .pinned li img
{
	-webkit-filter: invert(0%);
	   -moz-filter: invert(0%);
		-ms-filter: invert(0%);
		 -o-filter: invert(0%);
		    filter: invert(0%);
}

.toolBar p
{
	background: rgba(0,0,0,.8);
	padding: 5px 10px;
	margin: 0px 10px;
	color: white;
	font-size: 18px;
	font-family: 'RobotoLight', trebuchet ms, tahoma, verdana, arial, serif;
	display: none;
	border-radius: 4px;
	vertical-align: middle;
}

@media screen and (max-width: 1000px)
{
    .toolBar
	{
		padding: 15px 15px;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.toolBar .tooltip
	{
		font-size: 0px;
		padding: 0px;
		margin: 0px;
	}
}