.toolBar
{
	list-style: none;
	padding: 20px;
	margin: 0px auto;
	text-align: center;
    pointer-events: none;
    font-size: 0;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	transition-property: all;
	transition-duration: .5s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	
	-o-transition-property: all;
	-o-transition-duration: .5s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
}

.toolBar *
{
    pointer-events: all;
}

.toolBar li
{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	padding: 15px;
	background: rgba(0,0,0,.5);
	border-radius: 100px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
	font-size: 0px;
	cursor: pointer;
	
	background: white;
	
	transition-property: all;
	transition-duration: .25s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .25s;
	
	-o-transition-property: all;
	-o-transition-duration: .25s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .25s;
}

.toolBar li:hover
{
	background: rgb(25,25,25);
}

.toolBar li:active
{
	background: #000;
	box-shadow: 0px 0px 15px #000;
}

.toolBar .pinned
{
	display: inline-block;
	vertical-align: middle;
    pointer-events: none;
}

.toolBar .pinned * {pointer-events: all;}

.toolBar .pinned li
{
	padding: 0px;
	background: transparent;
}

.toolBar .pinned li :hover
{
	box-shadow: 0px 0px 25px rgba(255,255,255,.9);
}

.toolBar li img
{
	width: 14px;
	height: 14px;
	margin: 0px;
	
	-webkit-filter: invert(85%);
	   -moz-filter: invert(85%);
		-ms-filter: invert(85%);
		 -o-filter: invert(85%);
		    filter: invert(85%);
	
	transition-property: all;
	transition-duration: .25s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .25s;
	
	-o-transition-property: all;
	-o-transition-duration: .25s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .25s;
}

.toolBar .pinned li img
{
	border-radius: 50px;
	width: 44px;
	height: 44px;
}

.toolBar li:hover img,
.toolBar .pinned li img
{
	-webkit-filter: invert(0%);
	   -moz-filter: invert(0%);
		-ms-filter: invert(0%);
		 -o-filter: invert(0%);
		    filter: invert(0%);
}

.tooltip
{
	background: rgba(0,0,0,.8);
	padding: 10px 15px;
	margin: 0;
	color: white;
	font-size: 16px;
    font-family: 'MontserratRegular','RobotoRegular', segoe ui, trebuchet ms, tahoma, verdana, arial, serif;
	display: none;
	border-radius: 4px;
	vertical-align: middle;
    pointer-events: none;
    
    position: fixed;
    bottom: 120px;
    left: 45px;
    
    bottom: 5px;
    left: 5px;
    z-index: 10;
}

@media screen and (max-width: 1000px)
{
    .toolBar
	{
		padding: 15px 15px;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.toolBar .tooltip
	{
		font-size: 0px;
		padding: 0px;
		margin: 0px;
	}
}