.winholder {
    z-index: 50;
    text-align: center;
    display: none;
    font-size: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.winholder .closeArea {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    z-index: -1;
}

.winholder .align {
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.winholder .window {
    padding: 5px;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    vertical-align: middle;
    cursor: default;
    display: inline-block;
    pointer-events: none;
	
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.winholder .window .ttl {
    color: white;
    padding: 10px 0px;
    text-align: left;
    margin-bottom: 4px;
    pointer-events: none;
	
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.winholder .window .ttl * {
    display: inline-block;
    vertical-align: top;
}

.winholder .window .ttl h1 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

.winholder .window .ttl img {
    height: 20px;
    float: right;
    margin: -10px 0px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);
    pointer-events: all;
}

.winholder .window .ttl img:hover {
    background: red;
}

.winholder .window .ctn {
    overflow: hidden;
    background: #fff;
    min-width: 500px;
    min-height: 100px;
    max-height: 80%;
    text-align: center;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    font-size: 0px;
    pointer-events: all;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	
	-webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.winholder .window .ctn p {
    text-align: left;
    font-size: 14px;
}

body.dark .winholder .window .ctn {
    background: #191919;
    color: #fff;
}

body.white .winholder .closeArea {
    background: #fff;
}

body.white .winholder .window .ttl {
    color: #000;
}

body.white .winholder .window .ttl img {
    background: #333;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

body.white .winholder .window .ttl img:hover {
    background: red;
    -webkit-filter: invert(0%);
    -moz-filter: invert(0%);
    -ms-filter: invert(0%);
    -o-filter: invert(0%);
    filter: invert(0%);
}

body.white .winholder .window .ctn {
    background: #fff;
    box-shadow: 0 0 2px #000;
    color: #000;
}

body.black .winholder .closeArea {
    background: #000;
}

body.black .winholder .window .ttl img {
    background: #000;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

body.black .winholder .window .ttl img:hover {
    background: red;
    -webkit-filter: invert(0%);
    -moz-filter: invert(0%);
    -ms-filter: invert(0%);
    -o-filter: invert(0%);
    filter: invert(0%);
}

body.black .winholder .window .ctn {
    background: #000;
    box-shadow: 0 0 2px #fff;
    color: #fff;
}

@media screen and (max-width: 1000px)
{
    .winholder .window
    {
        max-width: 99%;
        max-height: 99%;
    }
    body.dark .winholder .window 
    {
        background: #191919;
    }
    .winholder .window .ctn
    {
        min-width: inherit;
        min-height: inherit;
        border-radius: 0;
        padding: 10px;
    }
    
}