/* Header */
.page {overflow: hidden;}
.page .header
{
    background: rgb(255,100,0);
    margin: -50px;
    margin-bottom: 30px;
    padding: 50px;
}

.page .header .titleBar
{
    color: #fff;
}

.page .header .titleBar *
{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.page .header .titleBar a
{
    font-size: 0;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #fff;
    margin-right: 10px;
}

.page .header .titleBar a:hover {background: #fff;}
.page .header .titleBar a:hover img {filter: invert(1);}

/* Page path */
.page .header .pagepath
{
    margin: 10px 0;
    margin-bottom: 20px;
}

.page .header .pagepath li:first-child {border-color: transparent;}
.page .header .pagepath li:first-child a img {margin: 10px;}
.page .header .pagepath li:first-child a img {filter: none;}
.page .header .pagepath li:first-child:hover {background: #fff;}
.page .header .pagepath li:first-child:hover a img {filter: invert(1);}
.page .header .pagepath li a {color: #fff;}
.page .header .pagepath li:hover a p {text-decoration: underline;}
.page .header .pagepath li::before {border-color: #fff;}

/* Toolbar */
.toolbar
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.page .header .toolbar
{
    margin: -50px;
    margin-top: 0;
    padding: 5px 50px;
    background: rgba(0,0,0,.2);
}

.toolbar li
{
    display: inline-block;
    vertical-align: middle;
}

.page .header .toolbar li input[type=submit],
.page .header .toolbar li input[type=reset],
.page .header .toolbar li input[type=image],
.page .header .toolbar li input[type=button],
.page .header .toolbar li button
{
	background: #fff;
    border-color: #fff;
	color: black;
}

.page .header .toolbar li input[type=submit]:hover,
.page .header .toolbar li input[type=reset]:hover,
.page .header .toolbar li input[type=image]:hover,
.page .header .toolbar li input[type=button]:hover,
.page .header .toolbar li button:hover
{
	background: #222;
    border-color: #222;
	color: #fff;
}

.page .header .toolbar li input[type=submit].flat,
.page .header .toolbar li input[type=reset].flat,
.page .header .toolbar li input[type=image].flat,
.page .header .toolbar li input[type=button].flat,
.page .header .toolbar li button.flat
{
	background: transparent;
	color: #fff;
}

.page .header .toolbar li input[type=submit].flat:hover,
.page .header .toolbar li input[type=reset].flat:hover,
.page .header .toolbar li input[type=image].flat:hover,
.page .header .toolbar li input[type=button].flat:hover,
.page .header .toolbar li button.flat:hover
{
	background: rgba(0,0,0,.5);
    border-color: #fff;
	color: #fff;
}

/* Table */
table.decorated
{
    border-collapse: collapse;
    margin: 0 -50px;
    width: calc(100% + 100px);
}

table.decorated tr:hover {background: rgba(127,127,127,.3);}
table.decorated tr:first-child {background: transparent;}

table.decorated th,
table.decorated td
{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    padding: 7px 0;
}

table.decorated th
{
    color: rgb(255,100,0);
}

table.decorated th a       {text-decoration: none;}
table.decorated th a:hover {text-decoration: underline;}

table.decorated th, table.decorated td {padding-right: 20px;}
table.decorated th:last-child, table.decorated td:last-child {padding-right: 0;}
table.decorated th:first-child {padding-left: 50px;}
table.decorated th:last-child, table.decorated td:last-child {padding-right: 50px;}

table.decorated .icon
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid rgba(127,127,127,.5);
}

table.decorated .icon,
table.decorated .text
{
    display: inline-block;
    vertical-align: middle;
}

table.decorated .text *
{
    margin: 0;
    font-weight: normal;
}

table.decorated .text {color: #000;}
table.decorated .text h3 {font-size: 14px; color: rgb(255,100,0);}
table.decorated .text p {font-size: 12px;}
table.decorated .text p strong {opacity: .5;}

table.decorated .actions
{
    font-size: 0;
}

table.decorated .actions button
{
    padding: 10px;
    background: #fff;
    font-size: 0;
    border: 1px solid #000;
}

table.decorated .actions button:hover
{
    background: #000;
    border-color: transparent;
}

table.decorated .actions button img {filter: invert(1);}
table.decorated .actions button:hover img {filter: invert(0);}

table .info
{
    padding: 5px 8px;
    display: inline-block;
}