table input[type=text]
{
    width: calc(100% - 30px);
}

.window table
{
    width: 100%;
}

.window table,
.window table th
{
    font-size: 14px;
    text-align: left;
    font-weight: normal;
}

table.decorated td:last-child
{
    padding-right: 40px;
    min-width: 160px;
}

#editForm input
{
    margin: 0;
}