RewriteEngine On
RewriteCond %{SERVER_PORT} 80

#RewriteRule ^(.*)$ https://search.doocode.xyz/$1 [R,L]

RewriteRule ^([a-z]+)-([a-z-]+)\.php $1.php?page=$2 [QSA]

# Flags
# NC  = No Case (not case sensitive, not really necessary since there are no characters in the pattern)
# L   = Last (it'll stop rewriting at after this Rewrite so make sure it's the last thing in your list of rewrites)
# QSA = Query String Apend, just in case you've got something like ?like=penguins on the end which you want to keep and pass to index.php.
